html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?2m106o');
  src:  url('../font/icomoon.eot?2m106o#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?2m106o') format('truetype'),
    url('../font/icomoon.woff?2m106o') format('woff'),
    url('../font/icomoon.svg?2m106o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e902";
}
.icon-design:before {
  content: "\e902";
}
.icon-laptop:before {
  content: "\e907";
}
.icon-coffee:before {
  content: "\e903";
}
.icon-cog:before {
  content: "\e904";
}
.icon-gear:before {
  content: "\e904";
}
.icon-bolt:before {
  content: "\e905";
}
.icon-flash:before {
  content: "\e905";
}
.icon-flag:before {
  content: "\e906";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}

// utilities
$primary-color: #579BB1;
$bg-color : #E1D7C6;
$secondary-bg-color : #ECE8DD;
$light-color : #F8F4EA;
$platinum : #E5E4E2;
$silver : #c5c5c5;
// color classe 
.silver {
  color: $silver;
}
.primary {
  color: $primary-color;
}
.main-bg {
    background-color: $bg-color;
}
.secondary-bg {
    background-color: $primary-color;
}
.primary-color {
    color: $primary-color;
}
.line {
    width: 70px;
    height: 2px;
    background-color: $primary-color;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
// btn
.btn-radcodal {
  padding: 0.3rem 2.5rem;
  color: $primary-color;
  margin-top: 4rem;
  border-radius: 5px;
  border: 1px solid $platinum;
  background-color: white;
  transition: 0.3s;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
// nav
nav {
  background-color: hsla(43, 50%, 95%, 0.78888);
}
// header
#header {
    width: 100%;
    padding-top: 5.5rem;
    padding-bottom: 2rem;
    background-color: $light-color;
}
// main 
// harizon
#harizon {
    padding-top: 70px;
    padding-bottom: 70px;
    .services{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;
        .services-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            color: black;
            text-decoration: none;
        }
        .services-item i {
            font-size: 30px;
            margin-bottom: 1.5rem;
            display: block;
            color: $primary-color;
            position: relative;
            width: 80px;
            height: 80px;
            background-color: white;
            border: 1px solid #0000002a;
            border-radius: 50%;
            text-align: center;
            line-height: 80px;
            transition: 0.3s;
            &:hover {
              background-color: $primary-color;
              color: white;
            }
        }
    }
}
// portfolio
#portfolio {
  padding-bottom: 5rem;
  padding-top: 5rem;
  background-color: $light-color;
  .portfolio-buttons {
    button {
      color: $silver;
      background-color: white;
      border-color: var(--bs-border-color-translucent);
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }
  .card .card-title {
    font-size: 1.3rem;
  }
  .card .card-text {
    font-size: 1.8rem;
    text-decoration: none;
  }
  .card {
    transition: 0.3s;
  }
  .card:hover {
    background-color: $primary-color;
  }
  .card:hover .card-text , .card:hover .card-title {
    color: white;
  }
}
// planning section
#planning {
  padding-top: 5rem;
  padding-bottom: 5rem;
  h2 {
    font-size: 3rem;
  }
  .btn-radcodal {
    margin-top: 0;
  }
  .planning-items {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-solo {
      width: 30%;
      position: relative;
      h2 {
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.7);
      }
      p {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.4);
      }
      img {
        clip-path: polygon(47% 1%, 50% 0, 100% 20%, 100% 80%, 50% 100%, 50% 100%, 0 80%, 0 20%);
        width: 50%;
        display: block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
      }
      &:nth-child(odd){
        padding-top: 12rem;
      }
    }
  }
}
// process
#process {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $primary-color;
  color: white;
  p {
    color: $silver;
  }
  .line {
    background-color: white;
  }
  .process-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    &-img {
      width: 370px;
      margin-right: 3rem;
      width: 50%;
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
      img {
        width: 80%;
      }
    }
    &-content {
      display: flex;
      flex-direction: column ;
      align-self: flex-start;
      width: 50%;
      &-inner {
        display: flex;
        align-items: start;
        justify-content: flex-start;
        margin-top: 4rem;
        cursor: pointer;
        opacity: 0.5;
        transition: 0.2s;
        &:last-child{
          opacity: 1;
        }
        &:hover {
          opacity: 1;
        }
        &-icon i{
          font-size: 30px;
          background-color: #3CB4D2;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
        &-right {
          margin-left: 1rem;
          .line {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}
// creativity
#creativity {
  padding-top: 11rem;
  padding-bottom: 11rem;
  background: url("../images/creativity.jpg") no-repeat center top fixed;
  background-size: cover;
  p{
    opacity: 0.4;
  }
}
// our team
#our-team {
  width: 100%;
  background-color: $light-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .card .card-title {
    font-size: 1.3rem;
  }
  .card .card-text {
    font-size: 1.8rem;
    text-decoration: none;
  }
  .card-footer  {
    padding: 1rem;
  }
  .social-media {
    display: flex;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      &:hover i{
        color: $primary-color;
      }
      i {
        font-size: 20px;
        transition: 0.3s;
      }
    }
  }
}
// our skills
#our-skills {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .progress-skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
    .progress-skills-item {
      .circular-progress {
        width: 150px;
        height: 150px;
        background: conic-gradient(#929292 180deg, #dbdbdb 0deg);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 1.5rem;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 110px;
          height: 110px;
          background-color: white;
          border-radius: 50%;
        }
        .circular-progress-value {
          position: relative;
          & i {
            font-size: 40px;
            color: $primary-color;
          }
        }
      }
    }
    .twenty {
      background: conic-gradient(#929292 69deg, #dbdbdb 0deg) !important;
    }
    .seventy {
      background: conic-gradient(#929292 263deg, #dbdbdb 0deg) !important;
    }
    .ninty {
      background: conic-gradient(#929292 317deg, #dbdbdb 0deg) !important;
    }
  }
}
// contact us section
#contact-us {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: $light-color;
  button {
    background-color: $primary-color;
    color: white;
    margin-top: 2.5rem;
    &:hover {
      background-color: #89acb8;
    }
  }
}
// contact us section
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .left-form , .right-form {
    width: 49%;
    height: 100%;
  }
  .right-form textarea {
    height: 9rem;
  }
}
// footer
.footer {
  width: 100%;
  background-color: $bg-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
      width: 2rem;
      height: 2rem;
      margin-bottom: 2rem;
    }
    & p {
      margin-bottom: 0;
      font-size: 1rem;
    }
    .footer-social-media {
      margin-bottom: 1rem;
      margin-top: 1rem;
      display: flex;

      & a {
        text-decoration: none;
        margin-right: 1rem;
        background-color: var(--bs-body-color);;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          content: "";
          position: absolute;
          width: 1.8rem;
          height: 1.8rem;
          background-color: $bg-color;
          border-radius: 50%;
        }
        & i {
          font-size: 1rem;
          color: var(--bs-body-color);;
          position: relative;
        }
      }
    }
  }
}
// responsive
@media (max-width:767px) {
  #harizon .services {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 24px;
  }
  #process .process-inner {
    flex-direction: column;
    justify-content: center;
  }
  #process .process-inner-content {
    align-self: center;
    width: 100%;
  }
  .card {
    margin-bottom: 1rem;
  }
  #our-skills .progress-skills {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 24px;
  }
  .progress-skills-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}
@media (max-width:600px) {
  form {
    flex-wrap: wrap;
    .left-form , .right-form {
      width: 100%;
    }
    .right-form textarea {
      margin-top: 1rem;
    }
  }
}
@media (max-width:430px) {
  #harizon .services {
    grid-template-columns: repeat(2 , 1fr);
    grid-gap: 0;
  }
  #our-skills .progress-skills {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    grid-gap: 12px;
  }
  .progress-skills-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}